.pageContainer {
    background-color: white;
    min-height: 100vh;
    color: #333;
}

.loading, .error {
    background-color: #141414;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.mainLayout {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 40px;
}

.leftColumn {
    width: 75%;
    color: #333;
}

.rightColumn {
    width: 25%;
    color: #333;
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.horizontalList {
    display: flex;
    overflow-x: scroll; 
    gap: 15px;
    padding-bottom: 15px;
    min-width: 100%; 
    box-sizing: content-box;
}

   @media (max-width: 800px) {
    .mainLayout {
        flex-direction: column; 
        gap: 20px;
        margin: 20px auto;
        padding: 0 20px;
    }

    .leftColumn,
    .rightColumn {
        width: 100%; 
    }
    .rightColumn {
        order: 1; 
    }
    
    .leftColumn {
        order: 2; 
    }

    }
